<html>
    <body>
        <form method="post" action="/predict">
            <label for="Age">Age:</label>
            <input type="number" name="Age" required="required"><br>
            <label for="BusinessTravel">BusinessTravel:</label>
            <select id="BusinessTravel" name="BusinessTravel">
                <option value="Non-Travel" >Non-Travel</option>
                <option value="Travel_Frequently">Travel_Frequently</option>
                <option value="Travel_Rarely">Travel_Rarely</option>
              </select><br>
            <label for="DailyRate">DailyRate:</label>
            <input type="number" name="DailyRate" required="required"><br>
            <label for="Department">Department:</label>
            <select id="Department" name="Department">
                <option value="Human Resources">Human Resources</option>
                <option value="Research & Development">Research & Development</option>
                <option value="Sales">Sales</option>
              </select><br>
            <label for="DistanceFromHomee">DistanceFromHome:</label>
            <input type="number" name="DistanceFromHome" required="required"><br>
            <label for="Educationt">Education:</label>
            <input type="number" name="Education" required="required" min="1" max="5"><br>
            <label for="EducationField">EducationField:</label>
            <select id="EducationField" name="EducationField">
                <option value="Human Resources">Human Resources</option>
                <option value="Life Sciences">Life Sciences</option>
                <option value="Marketing">Marketing</option>
                <option value="Medical">Medical</option>
                <option value="Technical Degree">Technical Degree</option>
                <option value="Other">Other</option>
              </select><br>
            <label for="EnvironmentSatisfaction">EnvironmentSatisfaction:</label>
            <input type="number" name="EnvironmentSatisfaction" required="required" min="1" max="4"><br>
            <label for="Gender">Gender:</label>
            <select id="Gender" name="Gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
              </select><br>
            <label for="HourlyRate">HourlyRate:</label>
            <input type="number" name="HourlyRate" required="required"><br>
            <label for="JobInvolvement">JobInvolvement:</label>
            <input type="number" name="JobInvolvement" required="required" min="1" max="4"><br>
            <label for="JobRole">JobRole:</label>
            <select id="JobRole" name="JobRole">
                <option value="Healthcare Representative">Healthcare Representative</option>
                <option value="Human Resources">Human Resources</option>
                <option value="Laboratory Technician">Laboratory Technician</option>
                <option value="Manager">Manager</option>
                <option value="Manufacturing Director">Manufacturing Director</option>
                <option value="Research Director">Research Director</option>
                <option value="Research Scientist">Research Scientist</option>
                <option value="Sales Executive">Sales Executive</option>
                <option value="Sales Representative">Sales Representative</option>
              </select><br>
            <label for="JobSatisfaction">JobSatisfaction:</label>
            <input type="number" name="JobSatisfaction" required="required" min="1" max="4"><br>
            <label for="MaritalStatus">MaritalStatus:</label>
            <select id="MaritalStatus" name="MaritalStatus">
                <option value="Divorced">Divorced</option>
                <option value="Married">Married</option>
                <option value="Single">Single</option>
              </select><br>
            <label for="MonthlyIncome">MonthlyIncome:</label>
            <input type="number" name="MonthlyIncome" required="required"><br>
            <label for="MonthlyRate">MonthlyRate:</label>
            <input type="number" name="MonthlyRate" required="required"><br>
            <label for="NumCompaniesWorked">NumCompaniesWorked:</label>
            <input type="number" name="NumCompaniesWorked" required="required"><br>
            <label for="OverTime">OverTime:</label>
            <select id="OverTime" name="OverTime">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select><br>
            <label for="PercentSalaryHike">PercentSalaryHike:</label>
            <input type="number" name="PercentSalaryHike" required="required" min="0" max="100"><br>
            <label for="RelationshipSatisfaction">RelationshipSatisfaction:</label>
            <input type="number" name="RelationshipSatisfaction" required="required" min="1" max="4"><br>
            <label for="StockOptionLevel">StockOptionLevel:</label>
            <input type="number" name="StockOptionLevel" required="required" min="1" max="4"><br>
            <label for="TotalWorkingYears">TotalWorkingYears:</label>
            <input type="number" name="TotalWorkingYears" required="required"><br>
            <label for="TrainingTimesLastYear">TrainingTimesLastYear:</label>
            <input type="number" name="TrainingTimesLastYear" required="required"><br>
            <label for="WorkLifeBalance">WorkLifeBalance:</label>
            <input type="number" name="WorkLifeBalance" required="required" min="1" max="4"><br>
            <label for="YearsAtCompany">YearsAtCompany:</label>
            <input type="number" name="YearsAtCompany" required="required"><br>
            <label for="YearsInCurrentRole">YearsInCurrentRole:</label>
            <input type="number" name="YearsInCurrentRole" required="required"><br>
            <label for="YearsSinceLastPromotione">YearsSinceLastPromotion:</label>
            <input type="number" name="YearsSinceLastPromotion" required="required"><br>
            <label for="YearsWithCurrManager">YearsWithCurrManager:</label>
            <input type="number" name="YearsWithCurrManager" required="required"><br>
            <button>Submit</button>
        </form>
    </body>
</html>